target/
project/target/
project/project/
*.class
*.log
day17/target/
day17/project/target/
day18/target/
day18/project/target/
.bsp/
day19/target/
day19/project/target/
day19/.bsp/
target/
project/target/
project/project/
output/
.bsp/
.idea/
